*{
    background: #E5E5E5;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;
}

.logo {
    padding-top: 8px;
    margin-left: 10px;
    width: 8%;
}

main{
    display: flex;
    margin-left: 120px;
    margin-bottom: 50px;
}

.text-area {
    resize: none;
    border: none;
    color: #0A3871;
    margin-top: 50px ;
    width: 600px;
}

::placeholder { color: #0A3871; }
    .text-area:focus {
        outline: none;
    }

.mensaje{
    resize: none;
    border: none;
    border-radius: 28px;
    background: #ffffff;
    background-image: url("imagenes/muneco.png"), url("imagenes/Frame5.png");
    background-repeat: no-repeat;
    background-position: 0px 100px , 0px 420px;
    background-size: contain;
    margin-left: 50px;
    margin-right: 30px;
    height: 626px;
    width: 298px;
    position: relative;
    color: #495057;
    padding: 15px;
    
}

.mensaje:focus{
    outline: none;
}


.adver{
    display: inline-flex;
    align-items: center;
    height: 50px;
    
}

.informacion {
    display: inline-block;
    color: #495057;
    font-size: 11px;
    margin-left: 2px;
    
    
}
.botones {
    display: flex;
    place-content: center;
    column-gap: 25px;
}

.bt-encriptar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    width: 290px;
    cursor: pointer;
    background: #0A3871;
    color: #ffffff;
    font-size: 16px;

}

.bt-desencriptar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    width: 290px;
    background: #D8DFE8;
    color: #0A3871;
    font-size: 16px;
    cursor: pointer;
}

.copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    width: 280px;
    background: #ffffff;
    color: #0A3871;
    margin-left: 85px;
    margin-top: -80px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
}
